<app-header [title]=title></app-header>
<app-svg-main></app-svg-main>

<form novalidate="" #formControl #updateForm="ngForm"
      class=" was-validated container text-center border border-light p-5" style="margin-top: 10%">

    <p class="h4 mb-4">Dados</p>

    <!--Full Name-->
    <div class="form-row mb-4 md-form">
        <div class="col">
            <label class="form-control-label" for="fullName">Nome</label>
            <input class="form-control" [(ngModel)]="employeeData.name" name="name" type="text" id="fullName" required
                   mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Nome não pode ser vazio</div>
        </div>
    </div>

    <div class="form-row mb-4 md-form">
        <!--Email-->
        <div class="col">
            <label class="form-control-label" for="email">Email</label>
            <input [(ngModel)]="this.employeeData.email" name="email" type="email" id="email" class="form-control"
                   required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Email não pode ser vazio</div>
        </div>

        <!--CPF-->
        <div class="col">
            <label class="form-control-label" for="cpf">CPF</label>
            <input [disabled]="checkUpdatePermission()" [(ngModel)]="employeeData.cpf" name="cpf" type="text" id="cpf"
                   class="form-control" mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">CPF não pode ser vazio</div>
        </div>
    </div>

    <div class="form-row">

        <!--JobRole-->
        <div class="md-form form-group col-md-6">
            <label class="form-control-label" for="jobRole">Cargo</label>
            <input [(ngModel)]="employeeData.jobRole" name="jobRole" type="text" id="jobRole" class="form-control"
                   required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Cargo não pode ser vazio</div>
        </div>

        <!--Salary-->
        <div class="md-form form-group col-md-3">
            <label class="form-control-label" for="salary">Salário</label>
            <input [(ngModel)]="employeeData.salary" name="salary" type="text" class="form-control" id="salary"
                   placeholder="Salário R$" required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Salário não pode ser vazio</div>
        </div>

        <!--Permissão-->
        <div class="form-group col-md-3">
            <label class="form-control-label" for="role">Permisão</label>
            <select disabled class="form-control" id="role" required>
                <option [disabled]="true" selected>{{employeeData.permission}}</option>
                <option *ngFor="let op of optionPermissions" [ngValue]="op.value">{{op.name}}</option>
            </select>
        </div>

    </div>

    <div class="md-form form-row mb-1">
        <!--Username-->
        <div class="col">
            <label class="form-control-label" for="username">Username</label>
            <input [disabled]="checkUpdatePermission()" [(ngModel)]="userData.username" name="username" type="text"
                   id="username" class="form-control"
                   placeholder="Username" required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Username não pode ser vazio</div>
        </div>

        <!--Password-->
        <div class="col">
            <label class="form-control-label" for="password">Password</label>
            <input [disabled]="checkUpdatePermission()" #password type="password" id="password" class="form-control"
                   mdbInput>

        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- Sign up button -->
            <button mdbBtn (click)="goBack()" color="primary" outline="true" block="true" class="my-4" type="button">
                Voltar
            </button>
        </div>
        <div class="col">
            <!-- Sign up button -->
            <button [disabled]="!updateForm.valid" [hidden]="isHiddenNormalButton" mdbBtn (click)="update($event)"
                    color="light-blue" block="true"
                    class="my-4" type="submit">
                Atualizar
            </button>
            <button mdbBtn [hidden]="isHiddenLoadingButton" class="my-4" block="true" color="light-blue" type="button"
                    disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Atualizando...
            </button>
            <div>
                <!-- Sign up button -->
                <button [hidden]="this.idUserSession == idUser" mdbBtn (click)="basicModal.show()" color="red" block="true" class="my-4" type="button">
                    Deletar
                </button>
                <div class="container">
                    <div mdbModal #basicModal="mdbModal" class="modal fade" style="padding-top: 10%" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title w-100" id="myModalLabel">Tem certeza que deseja deletar {{this.employeeData.name}} ? </h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" mdbBtn color="red" outline="true" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Não</button>
                                    <button [hidden]="isHiddenNormalButton" type="button" (click)="delete()" mdbBtn color="red" class="relative waves-light" mdbWavesEffect>Deletar</button>
                                    <button [hidden]="isHiddenLoadingButton" type="button" mdbBtn color="red" class="relative waves-light" mdbWavesEffect>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Deletando...
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>

