<app-header title='Seus Dados'></app-header>
<app-svg-main></app-svg-main>

<form class="container text-center border border-light p-5" style="margin-top: 10%">

    <p class="h4 mb-4">Seus Dados</p>

    <!--Full Name-->
    <div class="form-row mb-4 md-form">
        <div class="col">
            <label for="fullName">Nome</label>
            <input class="form-control" [(ngModel)]="employeeData.name" name="name" type="text" id="fullName" mdbInput>
        </div>
    </div>

    <div class="form-row mb-4 md-form">
        <!--Email-->
        <div class="col">
            <label class="form-control-label" for="email">Email</label>
            <input [(ngModel)]="employeeData.email" name="email" type="email" id="email" class="form-control" mdbInput>
        </div>

        <!--CPF-->
        <div class="col">
            <label class="form-control-label" for="cpf">CPF</label>
            <input [(ngModel)]="employeeData.cpf" name="cpf" type="text" id="cpf" class="form-control" mdbInput>
        </div>
    </div>

    <div class="form-row">

        <!--JobRole-->
        <div class="md-form form-group col-md-6">
            <label class="form-control-label" for="jobRole">Cargo</label>
            <input [(ngModel)]="employeeData.jobRole" name="jobRole" type="text" id="jobRole" class="form-control"
                   mdbInput>
        </div>

        <!--Salary-->
        <div class="md-form form-group col-md-3">
            <label class="form-control-label" for="salary">Salário</label>
            <input [(ngModel)]="employeeData.salary" name="salary" type="text" class="form-control" id="salary"
                   placeholder="Salário R$" mdbInput>
        </div>

        <!--Permissão-->
        <div class="form-group col-md-3">
            <label class="form-control-label" for="role">Permisão</label>
            <select disabled class="form-control" id="role" required>
                <option [disabled]="true" selected>{{employeeData.permission}}</option>
                <option *ngFor="let op of optionPermissions" [ngValue]="op.value">{{op.name}}</option>
            </select>
        </div>

    </div>

    <div class="md-form form-row mb-1">
        <!--Username-->
        <div class="col">
            <label class="form-control-label" for="username">Username</label>
            <input [(ngModel)]="userData.username" name="username" type="text" id="username" class="form-control"
                   placeholder="Username" mdbInput>
        </div>

        <!--Password-->
        <div class="col">
            <label class="form-control-label" for="password">Password</label>
            <input  #password type="password" id="password" class="form-control" mdbInput>
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- Sign up button -->
            <button mdbBtn (click)="goBack()" color="primary" outline="true" block="true" class="my-4" type="button">
                Voltar
            </button>
        </div>
        <div class="col">
            <!-- Sign up button -->
            <button [hidden]="isHiddenUpdateButton" mdbBtn (click)="update()" color="light-blue" block="true" class="my-4" type="button">
                Atualizar
            </button>
            <button mdbBtn [hidden]="isHiddenLoadingButton" class="my-4" block="true" color="light-blue" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Atualizando...
            </button>
        </div>
    </div>
</form>

