<app-header title={{title}}></app-header>
<app-svg-main></app-svg-main>

<form novalidate="" #formControl class="container text-center border border-light p-5" style="margin-top: 10%">

    <p class="h4 mb-4">{{title}}</p>

    <!--Full Name-->
    <div class="form-row mb-4">
        <div class="col">
            <label class="form-control-label" for="fullName"></label>
            <input class="form-control" [(ngModel)]="registerEmployee.name" name="name" type="text" id="fullName"
                   placeholder="Nome Completo" required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Nome é requirido</div>
        </div>
    </div>

    <div class="form-row mb-4">
        <!--Email-->
        <div class="col">
            <label class="form-control-label" for="email"></label>
            <input [(ngModel)]="registerEmployee.email" name="email" type="email" id="email" class="form-control"
                   placeholder="E-mail" required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Email é requirido</div>
        </div>

        <!--CPF-->
        <div class="col">
            <label class="form-control-label" for="cpf"></label>
            <input [(ngModel)]="registerEmployee.cpf" name="cpf" type="text" id="cpf" class="form-control"
                   placeholder="CPF 111.000.111-56" required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">CPF é requirido</div>
        </div>
    </div>

    <div class="form-row">

        <!--JobRole-->
        <div class="form-group col-md-6">
            <label class="form-control-label" for="jobRole"></label>
            <input [(ngModel)]="registerEmployee.jobRole" name="jobRole" type="text" id="jobRole" class="form-control"
                   placeholder="Cargo" required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Cargo é requirido</div>
        </div>

        <!--Salary-->
        <div class="form-group col-md-3">
            <label class="form-control-label" for="salary"></label>
            <input [(ngModel)]="registerEmployee.salary" name="salary" type="text" class="form-control" id="salary"
                   placeholder="Salário R$" required mdbInput>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Salário é requirido</div>
        </div>

        <!--Permissão-->
        <div class="form-group col-md-3">
            <label class="form-control-label" for="permission"></label>
            <select [(ngModel)]="registerEmployee.permission" name="test" class="form-control" id="permission" required>
                <option [disabled]="true" selected>Permissão do Sistema</option>
                <option *ngFor="let op of optionPermissions" [ngValue]="op.value">{{op.name}}</option>
            </select>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Permissão é requirido</div>
        </div>

    </div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- Sign up button -->
            <button mdbBtn (click)="goBack()" color="primary" outline="true" block="true" class="my-4" type="button">
                Voltar
            </button>
        </div>
        <div class="col">
            <!-- Sign up button -->
            <button mdbBtn [hidden]="isHiddenRegisterButton" (click)="registerUser($event)" color="light-blue" block="true" class="my-4" type="button">
                {{option}}
            </button>
            <button mdbBtn [hidden]="isHiddenLoadingButton" class="my-4" block="true" color="light-blue" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cadastrando...
            </button>
        </div>
    </div>
</form>
