<app-header title="Home"></app-header>
<app-svg-main></app-svg-main>

<div class="container" style="padding-top: 10%; max-width: inherit">
    <div class="card-deck">

        <!-- Card -->
        <mdb-card>
            <div class="view" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img class="img-fluid" src="/assets/images/new_company.jpeg"
                              alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Crie sua empresa</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/company']" size="sm" mdbBtn type="button" color="primary" rounded="true"
                            outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>

        <!-- Card -->
        <mdb-card>
            <div class="view " mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="/assets/images/new_employee.jpeg" alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Registrar Funcionário</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/registerEmployee']" size="sm" mdbBtn type="button" color="primary"
                            rounded="true" outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>

        <!-- Card -->
        <mdb-card>
            <div class="view" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="/assets/images/all_employees.jpeg" alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Ver todos Funcionários</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/employees']" mdbBtn size="sm" type="button" color="primary" rounded="true"
                            outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>

        <!-- Card -->
        <mdb-card>
            <div class="view" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="/assets/images/your_data.jpeg" alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>

            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Seus Dados</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/employee/:id']" mdbBtn size="sm" type="button" color="primary"
                            rounded="true" outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>
    </div>

</div>




