<!-- Toolbar -->
<div class="toolbar" role="banner">

    <img
            width="40"
            alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />

    <span>Página Home</span>
    <div class="spacer"></div>
    <div id="logout">
        <a style="color: white" target="_blank" rel="noopener" routerLink="/">
            Logout
        </a>
    </div>


</div>

<div class="container" style="padding-top: 10%; max-width: inherit">
    <div class="card-deck">

        <!-- Card -->
        <mdb-card>
            <div class="view" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img class="img-fluid" src="/assets/images/new_company.jpeg"
                              alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Crie sua empresa</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/company']" size="sm" mdbBtn type="button" color="primary" rounded="true"
                            outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>

        <!-- Card -->
        <mdb-card>
            <div class="view " mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="/assets/images/new_employee.jpeg" alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Registrar Funcionário</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/registerEmployee']" size="sm" mdbBtn type="button" color="primary"
                            rounded="true" outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>

        <!-- Card -->
        <mdb-card>
            <div class="view" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="/assets/images/all_employees.jpeg" alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Ver todos Funcionários</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/employees']" mdbBtn size="sm" type="button" color="primary" rounded="true"
                            outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>

        <!-- Card -->
        <mdb-card>
            <div class="view" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="/assets/images/your_data.jpeg" alt="Card image cap"></mdb-card-img>
                <div class="mask pattern-1 flex-center"></div>

            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4 class="row justify-content-center">Ver seus Dados</h4>
                </mdb-card-title>

                <div class="row justify-content-center">
                    <button [routerLink]="['/employee/:id']" mdbBtn size="sm" type="button" color="primary"
                            rounded="true" outline="true" mdbWavesEffect>Ir!
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>



